<?xml version="1.0" encoding="UTF-8"?>

<configuration>	
	<appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="[%p] %C(line %L) - %m%n"/>
		</Console>
	</appenders>
	
	<loggers>
		<root level="DEBUG">
			<appender-ref ref="Console"/>
		</root>
	</loggers>
</configuration>